**
!deploy/
!deploy/webvowl/
!deploy/webvowl/Dockerfile.integration
!deploy/webvowl/loopback-proxy.js
!deploy/webvowl/webvowl-npm-shrinkwrap.json
!upstream-source/
!upstream-source/owl2vowl/
!upstream-source/owl2vowl/pom.xml
!upstream-source/owl2vowl/src/
!upstream-source/owl2vowl/src/**
!upstream-source/webvowl/
!upstream-source/webvowl/package.json
!upstream-source/webvowl/Gruntfile.js
!upstream-source/webvowl/webpack.config.js
!upstream-source/webvowl/.jshintrc
!upstream-source/webvowl/.jshintignore
!upstream-source/webvowl/license.txt
!upstream-source/webvowl/src/
!upstream-source/webvowl/src/**
!upstream-source/webvowl/util/
!upstream-source/webvowl/util/**
