**
!deploy/
!deploy/webvowl/
!deploy/webvowl/Dockerfile.integration
!upstream-source/
!upstream-source/owl2vowl/
!upstream-source/owl2vowl/pom.xml
!upstream-source/owl2vowl/LICENSE.txt
!upstream-source/owl2vowl/src/
!upstream-source/owl2vowl/src/**
